<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.soecode.lyf.mapper.OrderMapper" >
  <resultMap id="BaseResultMap" type="com.soecode.lyf.entity.Order" >
    <id column="order_id" property="order_id" jdbcType="INTEGER" />
    <result column="order_number" property="order_number" jdbcType="INTEGER" />
    <result column="order_total" property="order_total" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="administrators_id" property="administrators_id" jdbcType="INTEGER" />
    <result column="commodity_id" property="commodity_id" jdbcType="INTEGER" />
    <result column="buy_number" property="buy_number" jdbcType="INTEGER" />
    <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.soecode.lyf.entity.Order" extends="BaseResultMap" >
    <result column="order_describe" property="order_describe" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    order_id, order_number, order_total, createtime, administrators_id, commodity_id, 
    buy_number, updatetime
  </sql>
  <sql id="Blob_Column_List" >
    order_describe
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from Order
    where order_id = #{order_id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from Order
    where order_id = #{order_id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.soecode.lyf.entity.Order" >
    insert into Order (order_id, order_number, order_total, 
      createtime, administrators_id, commodity_id, 
      buy_number, updatetime, order_describe
      )
    values (#{order_id,jdbcType=INTEGER}, #{order_number,jdbcType=INTEGER}, #{order_total,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{administrators_id,jdbcType=INTEGER}, #{commodity_id,jdbcType=INTEGER}, 
      #{buy_number,jdbcType=INTEGER}, #{updatetime,jdbcType=TIMESTAMP}, #{order_describe,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.soecode.lyf.entity.Order" >
    insert into Order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="order_id != null" >
        order_id,
      </if>
      <if test="order_number != null" >
        order_number,
      </if>
      <if test="order_total != null" >
        order_total,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="administrators_id != null" >
        administrators_id,
      </if>
      <if test="commodity_id != null" >
        commodity_id,
      </if>
      <if test="buy_number != null" >
        buy_number,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
      <if test="order_describe != null" >
        order_describe,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="order_id != null" >
        #{order_id,jdbcType=INTEGER},
      </if>
      <if test="order_number != null" >
        #{order_number,jdbcType=INTEGER},
      </if>
      <if test="order_total != null" >
        #{order_total,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="administrators_id != null" >
        #{administrators_id,jdbcType=INTEGER},
      </if>
      <if test="commodity_id != null" >
        #{commodity_id,jdbcType=INTEGER},
      </if>
      <if test="buy_number != null" >
        #{buy_number,jdbcType=INTEGER},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="order_describe != null" >
        #{order_describe,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.soecode.lyf.entity.Order" >
    update Order
    <set >
      <if test="order_number != null" >
        order_number = #{order_number,jdbcType=INTEGER},
      </if>
      <if test="order_total != null" >
        order_total = #{order_total,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="administrators_id != null" >
        administrators_id = #{administrators_id,jdbcType=INTEGER},
      </if>
      <if test="commodity_id != null" >
        commodity_id = #{commodity_id,jdbcType=INTEGER},
      </if>
      <if test="buy_number != null" >
        buy_number = #{buy_number,jdbcType=INTEGER},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="order_describe != null" >
        order_describe = #{order_describe,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where order_id = #{order_id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.soecode.lyf.entity.Order" >
    update Order
    set order_number = #{order_number,jdbcType=INTEGER},
      order_total = #{order_total,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      administrators_id = #{administrators_id,jdbcType=INTEGER},
      commodity_id = #{commodity_id,jdbcType=INTEGER},
      buy_number = #{buy_number,jdbcType=INTEGER},
      updatetime = #{updatetime,jdbcType=TIMESTAMP},
      order_describe = #{order_describe,jdbcType=LONGVARCHAR}
    where order_id = #{order_id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.soecode.lyf.entity.Order" >
    update Order
    set order_number = #{order_number,jdbcType=INTEGER},
      order_total = #{order_total,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      administrators_id = #{administrators_id,jdbcType=INTEGER},
      commodity_id = #{commodity_id,jdbcType=INTEGER},
      buy_number = #{buy_number,jdbcType=INTEGER},
      updatetime = #{updatetime,jdbcType=TIMESTAMP}
    where order_id = #{order_id,jdbcType=INTEGER}
  </update>
</mapper>